body {
    background-color: #edf2f6 !important;
}

.m-0 {
    margin: 0 auto !important;
}

.login {
    right: 0;
    position: absolute;
    margin-right: 80px;
}

.login-center {
    /*position: absolute;*/
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.titulo {
    color: #526278;
}


/* SIDER BAR */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #2c3748;
    --first-color-light: #ffffff;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #ffffff;
    z-index: var(--z-fixed);
    transition: .5s;
    border-bottom: 1px solid rgb(74 85 104 / 20%);
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

    .header_img img {
        width: 40px
    }

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #2c3748;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    height: 100%;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

    .nav_link:hover {
        color: var(--white-color)
    }

.nav_icon {
    font-size: 1.25rem
}

.show-nav {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--white-color)
    }

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show-nav {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


/* data table */

.table {
    width: 100% !important;
    font-size: 13px !important;
    color: #12263f !important;
    margin-bottom: 1.5rem !important;
}

    /*.table.dataTable {
        border-collapse: collapse !important;
    }*/

    .table.dataTable thead {
        background: #f9fbfd !important;
    }

        .table.dataTable thead tr th {
            color: #95aac9;
            font-weight: 600 !important;
            border-bottom-width: 1px !important;
            /*text-transform: uppercase !important;*/
            background-color: #f9fbfd !important;
            border-top: 1px solid #edf2f9 !important;
        }

/*.table-bordered {
    border: none !important;
}*/

table.dataTable.no-footer {
    border-bottom: none !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-striped-bg: none;
}

.table-bordered th, .table-bordered td {
    border-right: none !important;
    border-bottom: 1px solid #edf2f9 !important;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0 0;
}

.table-nowrap td, .table-nowrap th {
    vertical-align: top;
    white-space: nowrap !important;
    border-top: 1px solid #edf2f9 !important;
}

.table.dataTable > tbody > tr td {
    background: #fff;
}

#example_wrapper > div:nth-child(1) > label {
    display: none;
}

#example_wrapper > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex: 1;
}

    #example_wrapper > div:nth-child(2) > label {
        margin-bottom: 10px;
        margin-top: 10px;
    }

#example_filter > label {
    color: #fff;
}

    #example_filter > label > input {
        padding: 0;
        max-width: 1028px;
        min-width: 550px;
        transition: none;
        margin: 10px 0px 0px -40px;
        border: 1px solid #ffffff;
    }

        #example_filter > label > input:focus, select:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        }

    #example_filter > label::before {
        color: #95aac9;
        content: "\ee5a";
        font-weight: 900;
        margin-left: 20px;
        display: inline-block;
        font-family: boxicons !important;
    }


#example_wrapper {
    padding: 0;
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#example_paginate {
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 13px !important;
}

#example_info {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 13px !important;
}

.page-item.active .page-link {
    background-color: #edf2f9;
    border-color: #95aac9;
}

.page-link {
    color: #95aac9 !important;
}