/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-75 {
    padding-top: 75px;
}

.ml-155 {
    margin-left: 155px;
}

.title-page {
    z-index: 1 !important;
    margin-top: 63px;
    background-color: #f6fafc !important;
}

.text-title-page {
    margin: 0;
    color: #565d67;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.text-title-info {
    color: #526278;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-breadcrumb {
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.card-config {
    position: relative;
}

    .card-config .card-body span {
        position: absolute;
        padding-top: 7px;
        color: #6c757d;
        font-size: 15px;
    }

        .card-config .card-body span i {
            padding-right: 10px;
        }

@media (min-width: 576px) {

    #example_wrapper > div:nth-child(2) > label {
        margin: 0px !important;
    }

    #example_wrapper {
        position: absolute !important;
    }

    #example_filter > label > input {
        min-width: 400px !important;
    }
}

@media (min-width: 768px) {

    /* configuração datatable */
    #body-pd {
        position: absolute;
    }

    #example_filter > label > input {
        min-width: 450px !important;
    }

    #example_wrapper > div:nth-child(2) > label {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    #example_wrapper {
        position: relative !important;
    }

    /* configuração card management */
    .card-config .card-body {
        height: 90px;
    }

        .card-config .card-body span {
            width: 300px;
            word-break: break-word;
        }
}

@media (min-width: 992px) {

    /* configuração datatable */
    #body-pd {
        position: relative;
    }

    #example_filter > label > input {
        min-width: 600px !important;
    }

    #example_wrapper > div:nth-child(2) > label {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    #example_wrapper {
        position: relative !important;
    }

    /* configuração card management */
    .card-config .card-body {
        height: 70px;
    }

        .card-config .card-body span {
            width: 500px;
            word-break: break-word;
        }
}

@media (min-width: 1200px) {

    /* configuração datatable */
    #example_wrapper > div:nth-child(2) > label {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    #example_filter > label > input {
        min-width: 800px !important;
    }

    #example_wrapper {
        position: relative !important;
    }

    /* configuração card management */
    .card-config .card-body {
        height: 70px;
    }

        .card-config .card-body span {
            width: 500px;
            word-break: break-word;
        }
}

@media (min-width: 1400px) {

    #example_filter > label > input {
        min-width: 1000px !important;
    }

    /* configuração card management */
    .card-config .card-body {
        height: 70px;
    }

        .card-config .card-body span {
            width: 500px;
            word-break: break-word;
        }
}
