@model GISA.WebApp.MVC.Models.PessoaViewModel

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="text-title-info">Gestão de Plano Pessoa</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="row">
            <div class="mb-3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label asp-for="TipoPessoaEnum" class="form-label"></label>
                @{
                    if (Model.TipoPessoaEnum == 0)
                    {
                        <input type="text" disabled readonly class="form-control" value="Associado">
                    }
                    else if (Model.TipoPessoaEnum == 1)
                    {
                        <input type="text" disabled readonly class="form-control" value="Colaborador">
                    }
                }
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label asp-for="NomeCompleto" class="form-label"></label>
                <input asp-for="NomeCompleto" type="text" class="form-control" disabled readonly>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label>Tipo do Plano</label>
                <select id="ddlPlano" class="form-select">
                    <option selected disabled>-Selecine um plano-</option>
                </select>
            </div>
        </div>

        <div class="row">
            <label class="form-label">Valor</label>
            <div class="input-group mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="input-group-text">R$</span>
                <input id="txtValorPlano" type="text" class="form-control" readonly disabled>
            </div>
        </div>

        <div class="row">
            <label class="form-label">Desconto</label>
            <div class="input-group mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="input-group-text">(%)</span>
                <input id="txtDesconto" type="text" class="form-control" placeholder="10.00%">
            </div>
            <label class="form-label">Valor Final</label>
            <div class="input-group mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="input-group-text">R$</span>
                <input id="txtValorFinal" type="text" class="form-control" readonly disabled>
            </div>
        </div>

        <button type="button" class="btn btn-secondary float-end ml-10" data-bs-dismiss="offcanvas" aria-label="Close">Voltar</button>
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Valor').mask("#.##0,00", { reverse: true });
        });
    </script>
}