@model GISA.WebApp.MVC.Models.PessoaViewModel

@{
    ViewData["Title"] = "Edição";
    Layout = "_LayoutPrivate";
}

<!-- Título Page -->
<div class="header title-page" id="header-management">
    <h3 class="text-title-page">Edição de Pessoas</h3>
</div>

<!-- Informações sobre ações da página -->
<div class="row pt-75">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Ínicio</a></li>
                <li class="breadcrumb-item"><a asp-action="Index">Pessoa</a></li>
                <li class="breadcrumb-item active" aria-current="page">/ Edição</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="pt-40 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="row g-3 needs-validation" novalidate asp-action="Atualizar" method="post">
                <vc:Summary></vc:Summary>

                <div class="bd-callout bd-callout-default">
                    <h4 class="text-title-info">Dados Pessoais</h4>
                    <hr />

                    <partial name="_Pessoa" />
                </div>


                <div class="accordion accordion-flush pd-0" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <h4 class="text-title-info">Endereço</h4>
                                <hr />
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <partial name="_Endereco" />
                            </div>
                        </div>
                    </div>
                </div>


                @{
                    if (Model.Ativo)
                    {
                        <partial name="_VinculoPlano" />
                    }
                }

  
                <div class="mb-3 col-sm-12 col-md-12 col-lg-12">
                    <br />

                    @{
                        if (Model.Ativo)
                        {
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Adicionar Plano</button>
                        }
                    }

                    <a class="btn btn-secondary float-end ml-10" asp-action="Index">Voltar</a>
                    <button type="submit" class="btn btn-primary float-end">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var plano = {}

        plano.eventos = {

            init: () => {

                $('#Telefone').mask('(00) 0000-0000', { placeholder: "(  )    -    " });
                $('#DataNascimento').mask('00/00/0000', { placeholder: "__/__/____" });
                $('#Cpf').mask('000.000.000-00', { placeholder: "  .   .   - " });
                $('#Rg').mask('00.000.000-0', { placeholder: "  .   .   - " });
                $('#EnderecoViewModel_Cep').mask('00000-000', { placeholder: "     -   " });

                if ($("#Ativo").is(":checked") == true) {

                    $('#txtDesconto').mask('##0%', { reverse: true });
                    $('#txtNomeCompleto').val($('#NomeCompleto').val());
                    $('#txtTipoPessoa').val($('#TipoPessoaEnum option:selected').text());

                    $("#ddlPlano").change(function () {
                        var planos = app.metodos.getLocalStorage('plano');
                        var item = planos.filter(p => p.id == $(this).val());

                        $('#txtValorPlano').val(item[0].valor.toLocaleString('pt-br', { minimumFractionDigits: 2 }),);
                    });

                    if ($('#Id').val() != '' && $('#Id').val() != null && $('#Id').val() != undefined)
                        plano.metodos.obterPlanoPessoaPorIdPessoa($('#Id').val());
                }

                plano.metodos.obterPlanos();
                app.metodos.buscarCep();

                var validade = "@ViewBag.ValidateForm";
                app.metodos.initValidateForm(validade);
            }

        }

        plano.metodos = {

            obterPlanos: () => {

                app.metodos.get('/plano/obter-todos',
                    (response) => {
                        var planos = response.filter(p => p.ativo == true);

                        $.each(planos, function (i, d) {
                            $('<option>').val(d.id).text(d.nome).appendTo($('#ddlPlano'));
                        });

                        app.metodos.setLocalStorage('plano', planos);
                    },
                    (xhr, ajaxOptions, error) => {
                        console.log('xhr', xhr);
                        console.log('ajaxOptions', ajaxOptions);
                        console.log('error', error);
                    }
                )

            },

            enviarPlanoPessoa: () => {

                var pessoaId = $('#Id').val();
                var planoId = $('#ddlPlano').val();
                var desconto = $('#txtDesconto').val().replace('%', '');

                var dado = {
                    id: app.metodos.newGuid(),
                    pessoaId: pessoaId,
                    planoId: planoId,
                    desconto: desconto,
                    valorFinal: 0
                }

                app.metodos.post('/plano-cliente/novo-plano', dado,
                    (response) => {

                        var sucesso = `<div style="padding-top: 15px"></div>
                            <div id="msg_box" class="alert alert-success d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                                <div>
                                    Plano vinculado com sucesso!
                                </div>
                            </div>`;

                        $('#msg_box_offcanvas').append(sucesso);
                        $("#msg_box_offcanvas").fadeOut(2000);

                        setTimeout(() => { $('#btnPlanoPessoaVoltar').click() }, 2000)
                    },
                    (xhr, ajaxOptions, error) => {
                        console.log('xhr', xhr);
                        console.log('ajaxOptions', ajaxOptions);
                        console.log('error', error);

                        var error = `<div style="padding-top: 15px;"></div>
                            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                <div>Algo deu errado! Verifique e tente novamente.</div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>`;

                        $('#msg_box_offcanvas').append(error);
                        $("#msg_box_offcanvas").fadeOut(3500);
                    }

                )

            },

            obterPlanoPessoaPorIdPessoa: (idPessoa) => {

                app.metodos.get(`/plano-cliente/obter-plano/${idPessoa}`,
                    (response) => {
                        var total = response.valorFinal + response.desconto;

                        $('#ddlPlano').val(response.planoId);
                        $('#txtValorPlano').val(total.toLocaleString('pt-br', { minimumFractionDigits: 2 }));
                        $('#txtDesconto').val(response.desconto);
                        $('#txtValorFinal').val(response.valorFinal.toLocaleString('pt-br', { minimumFractionDigits: 2 }));
                    },
                    (xhr, ajaxOptions, error) => {
                        console.log('xhr', xhr);
                        console.log('ajaxOptions', ajaxOptions);
                        console.log('error', error);
                    }
                )

            },

        }

        plano.eventos.init();
    </script>
}