<input type="hidden" />

<div class="row">
    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">DATA</label><span class="info-required"> *</span>
        <div class="input-group">
            <input id="txtData" type="text" class="form-control" required>
            <span class="input-group-text"><i class='bx bx-calendar'></i></span>
        </div>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">HORA</label><span class="info-required"> *</span>
        <div class="input-group">
            <input id="txtHora" type="text" class="form-control" required>
            <span class="input-group-text"><i class='bx bx-stopwatch'></i></span>
        </div>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 position-relative col-sm-8 col-md-8 col-lg-8">
        <label class="form-label">OBSERVAÇÃO</label>
        <input type="text" class="form-control" required>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>
</div>