<input type="hidden" />

<div class="row">
    <div class="mb-3 position-relative col-sm-10 col-md-10 col-lg-10">
        <label class="form-label">NOME COMPLETO</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">TIPO PESSOA</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">TELEFONE</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 position-relative col-sm-10 col-md-10 col-lg-10">
        <label class="form-label">EMAIL</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">DATA DE NASCIMENTO</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">RG</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 position-relative col-sm-2 col-md-2 col-lg-2">
        <label class="form-label">CPF</label>
        <input type="text" class="form-control" required readonly>
        <div class="invalid-tooltip">
            <span class="text-danger"></span>
        </div>
    </div>
</div>