@model GISA.WebApp.MVC.Models.AgendaViewModel

@{
    ViewData["Title"] = "Edição";
    Layout = "_LayoutPrivate";
}

<!-- Título Page -->
<div class="header title-page" id="header-management">
    <h3 class="text-title-page">Edição de Pessoas</h3>
</div>

<!-- Informações sobre ações da página -->
<div class="row pt-75">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Apresentacao" asp-controller="Home">Início</a></li>
                <li class="breadcrumb-item"><a asp-action="Index">Pessoa</a></li>
                <li class="breadcrumb-item active" aria-current="page">/ Edição</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="pt-40 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="row g-3 needs-validation" novalidate asp-action="Atualizar" method="post">
                <vc:Summary></vc:Summary>

                <div class="accordion accordion-flush pd-0" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <h4 class="text-title-info">Dados pessoais</h4>
                                <hr />
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <partial name="_DadosPessoa" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd-callout bd-callout-default">
                    <h4 class="text-title-info">Dados de Agendamento</h4>
                    <hr />
                    <partial name="_Agenda" />
                </div>

                <div class="mb-3 col-sm-12 col-md-12 col-lg-12">
                    <br />
                    <a class="btn btn-secondary float-end ml-10" asp-action="Index">Voltar</a>
                    <button type="submit" class="btn btn-primary float-end">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var agenda = {}

        agenda.eventos = {

            init: () => {
                $('#txtHora').mask('00:00', { placeholder: "  :  " });
                $('#txtData').mask('00/00/0000', { placeholder: "__/__/____" });

                $('#txtData').datepicker({
                    startDate: '+1d',
                    format: "dd/mm/yyyy",
                    todayBtn: "linked",
                    language: "pt-BR",
                    daysOfWeekDisabled: "0,6",
                    autoclose: true
                });

                var pessoa = app.metodos.getLocalStorage("agenda");
                agenda.metodos.obterUsuario(pessoa.id);
            }

        }

        agenda.metodos = {

            obterUsuario: (email) => {

                app.metodos.get(`/pessoa/obter-pessoa/${email}`,
                    (response) => {
                        var dataNascimento = app.metodos.formataDataBR(response.dataNascimento);
                        var tipoPessoa = (response.tipoPessoaEnum == 0) ? "Associado" : (response.tipoPessoaEnum == 1) ? "Colaborador" : "N/A";

                        $('#IdPessoa').val(response.id)
                        $('#txtNomeCompleto').val(response.nomeCompleto);
                        $('#txtTipoPessoa').val(tipoPessoa);
                        $('#txtTelefone').val(response.telefone);
                        $('#txtEmail').val(response.email);
                        $('#txtDataNascimento').val(dataNascimento);
                        $('#txtRg').val(response.rg);
                        $('#txtCpf').val(response.cpf);
                    },
                    (xhr, ajaxOptions, error) => {
                        console.log('xhr', xhr);
                        console.log('ajaxOptions', ajaxOptions);
                        console.log('error', error);
                    }
                )

            }

        }

        agenda.eventos.init();
    </script>
}