@model GISA.WebApp.MVC.Models.PlanoViewModel

<input type="hidden" asp-for="Id" />

<div class="row">
    <div class="mb-3 col-sm-12 col-md-12 col-lg-12">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" type="text" class="form-control">
    </div>
</div>

<div class="row">
    <div class="mb-3 col-sm-12 col-md-12 col-lg-12">
        <label asp-for="Descricao" class="form-label"></label>
        <input asp-for="Descricao" type="text" class="form-control">
    </div>
</div>

<div class="row">
    <div class="mb-3 col-sm-12 col-md-4 col-lg-4">
        <label asp-for="TipoPlanoEnum" class="form-label"></label>
        <select asp-for="TipoPlanoEnum" class="form-select">
            <option selected disabled>-selecine um tipo pessoa-</option>
            <option value="0">Enfermaria</option>
            <option value="1">Apartamento</option>
            <option value="2">VIP</option>
        </select>
    </div>
    <div class="mb-3 col-sm-12 col-md-4 col-lg-4">
        <label asp-for="Valor" class="form-label"></label>
        <input asp-for="Valor" type="text" class="form-control">
    </div>
</div>

<div class="row">
    <div class="mb-3 col-sm-12 col-md-4 col-lg-4">
        <label asp-for="Ativo" class="form-check-label"></label>
        <div class="form-check form-switch">
            <input asp-for="Ativo" class="form-check-input" type="checkbox">
        </div>
    </div>
</div>