@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutPrivate";
}

<h1 class="pt-40">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p>Use this page to detail your site's privacy policy.</p>
            </div>
        </div>
    </div>
</div>