<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] | Boa Saúde</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body id="body-pd" class='snippet-body'>
    <header class="header" id="header">
        <partial name="_LoginPartial" />
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Boa Saúde</span> </a>
                <div class="nav_list">
                    <a asp-action="Index" asp-controller="Dashboard" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                    <a asp-action="Index" asp-controller="Agenda" class="nav_link"> <i class='bx bx-notepad nav_icon'></i> <span class="nav_name">Agendamentos</span> </a>
                    <a asp-action="Index" asp-controller="Pessoa" class="nav_link"><i class='bx bx-user nav_icon'></i> <span class="nav_name">Clientes</span></a>
                    <a asp-action="Index" asp-controller="Convenio" class="nav_link"> <i class='bx bx-briefcase nav_icon'></i> <span class="nav_name">Convênios</span> </a>
                    <a asp-action="Index" asp-controller="Plano" class="nav_link"><i class='bx bx-food-menu'></i> <span class="nav_name">Planos</span></a>
                </div>
            </div>
            <a asp-action="Index" asp-controller="Administrador" class="nav_link"> <i class='bx bx-cog nav_icon'></i> <span class="nav_name">Configurações</span> </a>
        </nav>
    </div>

    @*<partial name="_MenuPartial">*@

    <div class="height-100">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-mask/jquery.mask.min.js"></script>

    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type='text/javascript'>
        app.eventos.init();

        // Routers
        function EditarPlano(id) {
            window.location.href = `@Url.Action("Editar", "Plano")/${id}`;
        }

        function EditarConvenio(id) {
            window.location.href = `@Url.Action("Editar", "Convenio")/${id}`;
        }

        function EditarPessoa(id) {
            window.location.href = `@Url.Action("Editar", "Pessoa")/${id}`;
        }

        // Menu
        document.addEventListener("DOMContentLoaded", function (event) {

            const showNavbar = (toggleId, navId, bodyId, headerId, headerManagement) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId),
                    headerManagementmg = document.getElementById(headerManagement)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show-nav')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                        // add margin to header title management page
                        headerManagementmg.classList.toggle("ml-155")
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header', 'header-management')

            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')

            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'))
                    this.classList.add('active')
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
