@using GISA.WebApp.MVC.Extensions
@using GISA.WebApi.Core.Usuario
@inject IAspNetUser AppUser

<div class="header_toggle">
    <i class='bx bx-menu' id="header-toggle"></i>
</div>

@if (AppUser.EstaAutenticado())
{
    <a class="nav-link text-dark login" title="Manage">Olá @AppUser.ObterUserEmail()</a>
    <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Sair</a>
}
else
{
    <a class="btn btn-success" asp-controller="Auth" asp-action="Registro">Crie sua conta</a>
    <a class="btn btn-primary" asp-controller="Auth" asp-action="Login">Login</a>
}