@model GISA.WebApp.MVC.Models.ConvenioViewModel
@{
    ViewData["Title"] = "Convênio";
    Layout = "_LayoutPrivate";
}

<!-- Título Page -->
<div class="header title-page" id="header-management">
    <h3 class="text-title-page">Gestão de Convênios</h3>
</div>

<!-- Informações sobre ações da página -->
<div class="row pt-75">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-breadcrumb">
                <li class="breadcrumb-item"><a chref="#">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page"> / Convênio</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row pt-40">
    <div class="col-md-12">
        <div class="card card-config">
            <div class="card-body">
                <span class="d-flex justify-content-start"><i class='bx bx-info-circle nav_icon'></i> Aqui você pode incluir novos convênios ou voltar a página inicial</span>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" asp-action="Registrar">Novo Convênio</a>
                    <button type="button" class="btn btn-light ml-10">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="text-title-info pt-40">Convênios cadastrados</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Componente - DataTable -->
        <table id="example" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Endereço</th>
                    <th>Telefone.</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Laborátorio Monte Azul</td>
                    <td>Monte Azul Paulista</td>
                    <td>Rua 13 de Maio</td>
                    <td>(17) 3361-2215</td>
                    <td><span class="badge bg-success">Ativo</span></td>
                </tr>
                <tr>
                    <td>Hospital Senhor Bom Jesus</td>
                    <td>Monte Azul Paulista</td>
                    <td>Rua Cristóvão Colombo</td>
                    <td>(17) 3361-2600</td>
                    <td><span class="badge bg-success">Ativo</span></td>
                </tr>
                <tr>
                    <td>Maternidade Paulo Souza</td>
                    <td>Monte Azul Paulista</td>
                    <td>Av. Liscano Coelho Branco</td>
                    <td>(17) 3361-1588</td>
                    <td><span class="badge bg-danger">Inativo</span></td>
                </tr>
                <tr>
                    <td>Hospital Nossa Senhora</td>
                    <td>Bebedouro</td>
                    <td>Av. Av. Raul Furquim</td>
                    <td>(17) 3342-3066</td>
                    <td><span class="badge bg-danger">Inativo</span></td>
                </tr>
                <tr>
                    <td>Julho Pinto Caldeira</td>
                    <td>Bebedouro</td>
                    <td>Av. Av. Raul Furquim</td>
                    <td>(17) 3342-8844</td>
                    <td><span class="badge bg-success">Ativo</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal - cadastro convênio -->
@*<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="modal fade" id="novo_convenio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title title-modal" id="exampleModalLabel">Cadastro de Convênio</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-controller="Convenio" asp-action="Registrar" method="post">
                                <vc:Summary></vc:Summary>

                                <partial name="_Convenio" />

                                <h4>Endereço</h4>
                                <hr />
                                <partial name="_Endereco" />

                                <br />
                                <div class="row">
                                    <div class="mb-3 col-sm-12 col-md-12 col-lg-12">
                                        <button type="button" class="btn btn-secondary float-end ml-10" data-bs-dismiss="modal">Sair</button>
                                        <button type="submit" class="btn btn-primary float-end">Salvar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json'
                }
            });
        });
    </script>
}
